/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*** CUSTOM PROPERTIES ***/
:root {

    /* COLORS */
    --clr-white: 0 0% 100%;
    --clr-light-gray: 212 45% 89%;
    --clr-grayish-blue: 220 15% 55%;
    --clr-dark-blue: 218 44% 22%;

    /* FONT SIZES */
    font-size: 15px;
    --fs-700: 1.5rem;
    --fs-400: 1rem;

    /* FONT FAMILY */
    --ff-sans: 'Outfit', sans-serif;

}

body {
  background-color: hsl(var(--clr-light-gray));
  text-align: center;
}

/*** UTILITY CLASS ***/
/* GENERAL */

.card-center {
  background-color: hsl(var(--clr-white));
  width: 300px;
  margin: 5vh auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 20px hsl(var(--clr-dark-blue) / 0.30);
}

.card-center > * {
  margin-bottom: 16px;
}

.qr-code {
  border-radius: 20px;
}

.content {
  width: 260px;
  text-align: center;
}

.content > h3 {
  margin-bottom: 10px;
}


/* COLORS */
.text-dark {
    color: hsl(var(--clr-dark-blue));
}

.text-gray {
    color: hsl(var(--clr-grayish-blue));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.bg-gtayish-blue {
    background-color: hsl(var(--clr-light-gray));
}

/* FONT SIZES */
.fs-700 { font-size: var(--fs-700); }
.fs-400 { font-size: var(--fs-400); }

/* FONT FAMILY */
.ff-sans { font-family: var(--ff-sans); };